<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="binding">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='binding'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
        <binding name="binding_SOAP12">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='binding_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <mtomMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapretail.ziylan.tur:8001/sap/bc/srt/rfc/sap/zrt_ent_peraport/300/zrt_ent_peraport/binding"
        binding="customBinding" bindingConfiguration="binding" contract="Proxy.ZRT_ENT_PERAPORT"
        name="binding" />
      <endpoint address="http://sapretail.ziylan.tur:8001/sap/bc/srt/rfc/sap/zrt_ent_peraport/300/zrt_ent_peraport/binding"
        binding="customBinding" bindingConfiguration="binding_SOAP12"
        contract="Proxy.ZRT_ENT_PERAPORT" name="binding_SOAP12" />
    </client>
  </system.serviceModel>
</configuration>